[Unit]
Description=Sniff Receiver Service

[Service]
ExecStart=/usr/bin/python3 /home/dragon/WarDragon/DroneID/sniffle/python_cli/sniff_receiver.py -z -a -l -e
WorkingDirectory=/home/dragon/WarDragon/DroneID/sniffle/python_cli/
Restart=always
User=dragon

[Install]
WantedBy=multi-user.target
