[Unit]
Description=DJI Receiver Service
After=network.target

[Service]
User=dragon
Group=dragon
WorkingDirectory=/home/dragon/WarDragon/DroneID
ExecStart=/usr/bin/python3 /home/dragon/WarDragon/DroneID/dji_receiver.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
